@import "@styles/settings";

.title {
  @include bp-max($md) {
    font-family: "Canela" !important;
    font-size: 42px !important;
    line-height: 54.6px !important;
  }
}

.bodyText {
  @include bp-max($md) {
    font-size: 26px !important;
    line-height: 33.8px !important;
  }
}
