.headerContainer {
  position: relative;
}

.container {
  max-width: 2560px;
  margin: 0 auto;
}

.singleProductContiner {
  clear: both;
  &.innerHeader {
    .Wrapper {
      background-color: black;
    }
  }
}
