.footerCTAContainer {
    margin-top: 80px;
    display: flex;
    .ctaDetails {
        background-color: #2D2D2D;
        padding: 55px;
        h2 {
            font-size: 44px;
            line-height: 51px;
            letter-spacing: -0.01em;
            margin-bottom: 25px;
        }
        p {
            font-size: 16px;
            line-height: 22.4px;
        }
        p:first-of-type + p {
            padding-top: 20px;
        } 
    }
}