.wrapper {
  width: 100%;
}
.container {
  padding: 38px;
  text-align: center;
  transition: background-color ease 0.3s;
  &:hover {
    background-color: #edece8;
    .cardImgContainer {
      box-shadow: none;
    }
  }
}

.compactContainer {
  padding: 0 !important;
  .cardImgContainer {
    box-shadow: none;
  }
  &:hover {
    background-color: transparent !important;
  }
}

.tableRow {
  border-top: 1px solid #d4d4d8;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  & .imgCell {
    padding-right: 0;
    width: 75%;
    .cardImgContainer {
      box-shadow: none;
    }
  }
  & .descCell {
    width: 400px;
  }
  & .rowDetailButton {
    text-align: center;
    width: 25%;
    button {
      background: none;
      border: none;
      cursor: pointer;
      margin-top: 22px;
    }
  }
  .cardImg {
    height: 60px;
    overflow: hidden;
  }
  .details {
    display: none;
  }
  &.detailView {
    background-color: #FFFFF8;
    & .detailsBoxLeft {
      align-items: flex-start;
    }
    .details {
      display: block;
      padding-top: 50px;
      .description {
        padding: 30px 0;
      }
      .listings {
        & > ul {
          & > li {
            color: #B0ABA7;
            font-size: 16px;
            border-bottom: solid 1px #F4EEE9;
            line-height: 22.4px;
            padding: 15px 0;
            &:first-child {
              padding-top: 0px;
            }
            .headline {
              color: #141414;
              font-size: 12px;
              padding-bottom: 10px;
              text-transform: uppercase;
              line-height: 16.8px;
            }
          }
        }
      }
      .technicalSpecification {
        color: #141414;
        font-size: 14px;
        line-height: 18.2px;
        text-decoration: none;
        margin-top: 15px;
        display: inline-block;
        position: relative;
        &:after {
          position: absolute;
          top: 0px;
          right: -35px;
          display: block;
          width: 24px;
          height: 40px;
          content: "";
          background: url("../../../../public/assets/icons/black-arrow.svg") top right no-repeat;
        }
      }
    }
    & > div {
      padding-top: 30px;
      vertical-align: top;
    }
    & > div.imgCell {
      padding-top: 10px;
    }
    & > div.rowDetailButton {
      padding-top: 25px;
    }
    .cardImg {
      height: 100%;
      & a {
        height: 100%;
        display: block;
        & div {
          height: 100%;
          & img {
            object-fit: cover;
            object-position: 100% 0;
          }
        }
      }
    }
  }
  .displayInnerTable {
    display: table;
    border-collapse: collapse;
    width: 100%;
    vertical-align: inherit;
    & > div {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    } 
    .collectionName {
      padding-left: 0;
    }
  }
}

a.productListTitle {
  text-decoration: none;
  color: #000;
}
.cardImgContainer {
  position: relative;
  box-shadow: 0px 24px 38px rgba(20, 20, 20, 0.08), 0px 9px 46px rgba(20, 20, 20, 0.08), 0px 11px 15px rgba(20, 20, 20, 0.16);
  display: flex;
  transition: box-shadow ease 0.3s;
  height: 100%;
  .actionBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 39px;
    width: 39px;
    &:hover {
      width: inherit;
    }
  }
  button.actionBtn {
    display: block;
    text-transform: uppercase;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #B0ABA7;
    transition: ease all 0.3s;
    .hovered {
      position: absolute;
      visibility: none;
      opacity: 0;
    }
    .initial {
      display: flex;
      justify-content: center;
    }
    &:hover {
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 167px;
      height: inherit;
      border-radius: 32px;
      color: #fff;
      background-color: #000;
      .hovered {
        display: flex;
        opacity: 1;
        transition-delay: 0.4s;
        transition: ease all 0.3s;
        span {
          margin-left: 5px;
        }
      }
      .initial {
        display: none;
      }
    }
  }

  button.checkedButton {
    background-color: #000;
    border: none;
  }
  & > a > div {
    display: block !important;
  }
}
.cardIsActive {
  button.addBtn {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    padding: 5px 8px;
    color: #fff;
    background-color: rgb(253, 246, 246);
  }
}
.cardTitle {
  font-size: 22px !important;
  letter-spacing: 0.01em !important;
  line-height: 1.1 !important;
  margin: 35px 0px 10px 0px !important;
  a {
    color: #000;
    text-decoration: none;
  }
}
.cardSubTitle {
  font-weight: 300 !important;
}
.detailsBoxLeft {
  width: 80%;
  margin-top: 28px;
  .productsInfoRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    .productName {
      width: 25%;
      & div {
        padding: 20px;
      }
    }
    .collectionNameBox {
      width: 35%;
      .displayNameBox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .AvilableBox {
          width: 40%;
          & div {
            padding: 20px;
          }
        }
        .NameBox {
          width: 60%;
          & div {
            padding: 20px;
          }
        }
      }
    }
    .descriptionBox {
      width: 40%;
      & div {
        padding: 20px;
      }
    }
  }
  .productsInfoDetails {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .productInfoBox {
      width: 60%;
      .details {
        padding: 20px 60px 40px 20px;
        .titleText {
          padding: 5px 12px;
          background: #000;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.1em;
          border-radius: 30px;
        }
        .description {
          max-width: 450px;
        }
      }
    }
    .productDescriptionBox {
      width: 40%;
      .details {
        padding: 20px 60px 40px 20px;
      }
    }
  }
}
.detailsBoxRight {
  width: 20%;
  display: flex;
  padding: 30px 0px;
}
.detailView {
  .detailsBoxLeft {
    margin-top: 0;
    .productsInfoRow {
      .descriptionBox {
        display: none;
      }
    }
  }
}
