@import "@styles/variables";

.select {
  padding: 10px 24px;
  background-color: $white;
  color: $secondary;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: 1px;
  font-family: inherit;
  transition: all 0.3s ease;
  border-width: 0;

  &.small {
    padding: 6px 16px;
  }

  &.large {
    padding: 18px 36px;
  }
}
