@import '@styles/settings';

.container {
  position: relative;
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  @include bp($md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp($lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include bp($xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include bp($xxl) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include bp($max) {
    grid-template-columns: repeat(5, 1fr);
  }
  &.list_view {
    display: block;
  }
  .tableActionContainer {
    background-color: #e5e5e5;
  }
  .tableHeader {
    background: #e5e5e5;
    text-transform: uppercase;
    & > div {
      padding: 20px;
    }
  }
  .displayProductName {
    width: 30%;
  }
  .displayInnerTable {
    width: 45%;
    & > div {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }
  }
  .displayPatternImage {
    width: 20%;
  }
  .tableActionContainer {
    width: 5%;
  }
}
