.container {
  display: grid;
  padding: 55px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  &.list_view {
    display: block;
  }
  .tableActionContainer {
    background-color: #fff;
  }
  .tableHeader {
    background: #e5e5e5;
    & > div {
      padding: 15px;
    }
  }
}
