.container {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.topBar {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding-right: 80px;
  .logoWrapper {
    width: 100px;
  }
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchItem {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
  }
  .filterItem {
    margin-right: 10px;
    display: flex;
    width: 190px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
  }
  .displayOptionsContainer {
    border-right: 3px solid #edece8;
    border-left: 3px solid #edece8;
    padding: 0 20px;
  }
  .displayOptions {
    display: flex;
    border-radius: 40px;
    background: #f6f6f6;
    padding: 5px 0;
    .iconContainer {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 85px;
      margin: 0 5px;
      background: #fff;
      border-radius: 40px;
      padding: 10px;
      &:hover,
      &.active {
        background: #b0aba7;
        .displayIcon {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  .selections {
    margin-left: 25px;
  }
  .selectionCount {
    font-size: 12px;
    padding: 2px;
    background: #d6cec5;
  }
}
.filterContainer {
  padding: 40px;
  background: #f6f6f6;
}
.searchContainer {
  position: relative;
  .searchLabel {
    display: flex;
    span {
      margin-left: 10px;
    }
  }
  input {
    margin-top: 10px;
    width: 100%;
    font-size: 32px;
    border: none;
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
    background: none;
    outline: none;
  }
  ::placeholder {
    color: #e5e5e5;
  }
}
.productsFilterContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  &.firstItemBorder {
    border-left: 1px solid #c4c4c4;
  }
  .productFilterItem {
    border-right: 1px solid #c4c4c4;
    padding: 40px;
    width: 200px;
    position: relative;
    &.activeFilter:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: 0px;
    }
  }
  .productFilterItemTitle {
    border: none;
  }
  .colorSchemsContainer {
    display: flex;
    flex-grow: 1;
    .colourScheme {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      width: 88px;
      padding: 20px;
      cursor: pointer;
      flex-direction: column;
    }
  }
}

.clearFilter {
  position: absolute;
  bottom: -63px;
  border: solid 1px #c4c4c4;
  color: #141414;
  font-size: 14px;
  line-height: 32px;
  padding: 7px 32px 7px 12px;
  height: 32px;
  border-radius: 32px;
  cursor: pointer;
  margin-left: 50%;
  left: -95px;
  background-color: #fff;
}
