@import "@styles/settings";

.container {
  z-index: 9999999;
  width: 100%;
  opacity: 0;
  &.active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
}
.fixFilterBar {
  position: fixed;
  top: 0;
}
.topBar {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #d4d4d8;
  @include bp($md) {
    padding: 10px 20px;
  }
  .logoWrapper {
    width: 100%;
    @include bp($md) {
      width: 4%;
    }
  }
  .mobileFilter {
    display: flex;
    align-items: center;
    width: 100%;
    @include bp($lg) {
      display: none;
    }
  }
  .filters {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    display: none;
    @include bp($lg) {
      display: flex;
      width: 65%;
    }
  }
  .searchItem {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    text-transform: uppercase;
    width: 12%;
    align-items: center;
  }
  .filterItem {
    border-left: 2px solid #edece8;
    width: 29.33%;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
    & div {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      & div {
        padding: 0px 5px 0px 0px;
        justify-content: flex-start;
      }
    }
  }
  .productSelection {
    border-left: 2px solid #edece8;
    cursor: pointer;
    width: 29.33%;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
    & div {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      & div {
        padding: 0px 5px 0px 0px;
        justify-content: flex-start;
      }
    }
  }
  .selection {
    color: #b1aba6 !important;
    margin-left: 4px;
    display: none;
  }
  .displayOptionsContainer {
    border-right: 2px solid #edece8;
    border-left: 2px solid #edece8;
    // margin: 0 20px;
    // padding: 0 20px;
    display: none;
    @include bp($md) {
      display: block;
      width: 23%;
    }
  }
  .displayOptions {
    display: flex;
    border-radius: 40px;
    background: #f6f6f6;

    padding: 5px 5px;
    margin: 0px 25px;
    justify-content: space-between;
    .iconContainer {
      cursor: pointer;
      display: flex;
      justify-content: center;
      background: #fff;
      border-radius: 40px;
      padding: 10px;
      width: 24%;
      &:hover,
      &.active {
        background: #b0aba7;
        .displayIcon {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  .selections {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
    padding-left: 1%;
    @include bp($md) {
      justify-content: center;
      width: 8%;
    }
  }
}
.mobileFilterContainer {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #f6f6f6;
  padding: 15px;
  .closeBtn {
    float: right;
    background: none;
    border: none;
    display: block;
  }
  .filterItem,
  .searchItem {
    border-bottom: solid 1px #d4d4d8;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 17px 0;
  }
  .searchItem {
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .productsFilterContainer {
    flex-direction: column;
    .productFilterItem {
      width: 100%;
      &.activeFilter:after {
        display: none;
      }
      .filterInner {
        background: #ffffff;
        margin: 0px;
        &:first-child {
          border-left: none;
        }
        border-right: none;
        border-top: solid 1px #d4d4d8;
        border-bottom: solid 1px #d4d4d8;
      }
    }
  }
}
.filterInnerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 30px;
    height: 16px;
  }
  .mobileDetails {
    max-width: 200px;
  }
}
.filterContainer {
  background: #f6f6f6;
}
.searchContainer {
  position: relative;
  padding: 85px;
  @include bp-max($md) {
    background: #fff;
    padding: 30px 20px;
    input {
      font-size: 20px !important;
      padding: 20px 0 20px 10px;
    }
  }
  .searchLabel {
    display: flex;
    span {
      @include bp($md) {
        margin-left: 10px;
      }
    }
  }
  input {
    margin-top: 10px;
    width: 100%;
    font-size: 32px;
    border: none;
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
    background: none;
    outline: none;
  }
  ::placeholder {
    color: #e5e5e5;
  }
}
.colorSchemesContainer {
  &.moBilePosition {
    @include bp($lg) {
      padding-top: "84px";
      position: "absolute";
    }
  }
  &.mobileColorScheme {
    height: 400px;
    overflow-y: scroll;
  }
  @include bp($md) {
    padding: 0 24px 0 136px;
    position: relative;
    padding-top: 56px;
    justify-content: space-between;
    // align-items: center;
    display: flex;
  }
  .colorSchemeItemsContainer {
    @include bp($md) {
      display: flex;
    }
    .colourScheme {
      padding: 77px 37px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include bp($md) {
        width: 75px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
      }
      & span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.productsFilterContainer {
  @include bp($md) {
    height: 240px;
    padding: 0 80px 0 80px;
  }
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  .productFilterItem {
    cursor: pointer;

    flex-grow: 1;
    width: 200px;
    position: relative;
    &.activeFilter:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #000;
      bottom: 0px;
    }
    &:first-child {
      .filterInner {
        border-left: 1px solid #c4c4c4;
      }
    }
    .filterInner {
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 20px 40px;
      min-height: 90px;
      border-right: 1px solid #c4c4c4;
      display: flex;
      align-items: flex-start;
    }
  }
  .productFilterItemTitle {
    border: none;
  }
}

.clearFilter {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  bottom: -20px;
  border: solid 1px #c4c4c4;
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 3px 16px 3px 16px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  margin-left: 50%;
  left: -95px;
  background-color: #fff;
  @include bp-max($md) {
    display: none;
  }
}

.applyBttn {
  border: solid 1px #d4d4d8;
  background: #f6f6f6;
  margin-top: 51px;
  display: block;
  color: #141414;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
  width: 96%;
}
