@import "@styles/settings";

.container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  opacity: 0;
  &.active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
}
.topBar {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px;
  @include bp($md) {
    padding: 0;
  }
  .logoWrapper {
    padding-left: 20px;
    min-width: 60px;
    @include bp($md) {
      min-width: 100px;
    }
  }
  .mobileFilter {
    display: flex;
    align-items: center;
    @include bp($lg) {
      display: none;
    }
  }
  .filters {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    display: none;
    @include bp($lg) {
      display: flex;
    }
  }
  .searchItem {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
  }
  .filterItem {
    margin-right: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover,
    &.activeFilter {
      background: #f6f6f6;
    }
    @include bp($xl) {
      width: 190px;
    }
  }
  .displayOptionsContainer {
    border-right: 3px solid #edece8;
    border-left: 3px solid #edece8;
    margin: 0 20px;
    padding: 0 20px;
    display: none;
    @include bp($md) {
      display: block;
    }
  }
  .displayOptions {
    display: flex;
    border-radius: 40px;
    background: #f6f6f6;
    padding: 5px 0;
    .iconContainer {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 70px;
      margin: 0 5px;
      background: #fff;
      border-radius: 40px;
      padding: 10px;
      &:hover,
      &.active {
        background: #b0aba7;
        .displayIcon {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  .selections {
    max-width: 120px;
    padding-right: 20px;
  }
}
.mobileFilterContainer {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F6F6F6;
  padding: 15px;
  .closeBtn {
    float: right;
    background: none;
    border: none;
    display: block;
  }
  .filterItem, .searchItem {
    border-bottom: solid 1px #D4D4D8;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 17px 0;
  }
  .searchItem {
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .productsFilterContainer {
    flex-direction: column;
    .productFilterItem {
      width: 100%;
      &.activeFilter:after {
        display: none;
      }
      .filterInner {
        background: #ffffff;
        margin: 0px;
        &:first-child {
          border-left: none;
        }
        border-right: none;
        border-top: solid 1px #D4D4D8;
        border-bottom: solid 1px #D4D4D8;
      }
    }
  }
}
.filterInnerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 30px;
    height: 16px;
  }
  .mobileDetails {
    max-width: 200px;
  }
}
.filterContainer {
  padding: 0 40px;
  background: #f6f6f6;
}
.searchContainer {
  position: relative;
  padding: 40px;
  @include bp-max($md) {
    background: #fff;
    padding: 30px 20px;
    input {
      font-size: 20px !important;
      padding: 20px 0 20px 10px;
    }
  }
  .searchLabel {
    display: flex;
    span {
      @include bp($md) {
        margin-left: 10px;
      }
    }
  }
  input {
    margin-top: 10px;
    width: 100%;
    font-size: 32px;
    border: none;
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
    background: none;
    outline: none;
  }
  ::placeholder {
    color: #e5e5e5;
  }
}
.colorSchemesContainer {
  &.mobileColorScheme {
    height: 400px;
    overflow-y: scroll;
  }
  @include bp($md) {
    position: relative;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .colorSchemeItemsContainer {
    @include bp($md) {
      display: flex;
    }
    .colourScheme {
      padding: 40px 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include bp($md) {
        width: 75px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
      }
    }
  }
}
.productsFilterContainer {
  display: flex;
  position: relative;
  .productFilterItem {
    flex-grow: 1;
    width: 200px;
    position: relative;
    &.activeFilter:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: 0px;
    }
    &:first-child {
      .filterInner {
        border-left: 1px solid #c4c4c4;
      }
    }
    .filterInner {
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 20px 40px;
      min-height: 60px;
      border-right: 1px solid #c4c4c4;
    }
  }
  .productFilterItemTitle {
    border: none;
  }
}

.clearFilter {
  position: absolute;
  bottom: -20px;
  border: solid 1px #c4c4c4;
  color: #141414;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 32px 7px 12px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  margin-left: 50%;
  left: -95px;
  background-color: #fff;
  @include bp-max($md) {
    display: none;
  }
}

.applyBttn {
  border: solid 1px #D4D4D8;
  background: #F6F6F6;
  margin-top: 30px;
  display: block;
  color: #141414;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
  width: 96%;
}
