@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Black.woff2") format("woff2"),
    url("../public/fonts/Canela-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-BlackItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Bold.woff2") format("woff2"),
    url("../public/fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Medium.woff2") format("woff2"),
    url("../public/fonts/Canela-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Light.woff2") format("woff2"),
    url("../public/fonts/Canela-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Regular.woff2") format("woff2"),
    url("../public/fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-MediumItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-Thin.woff2") format("woff2"),
    url("../public/fonts/Canela-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-ThinItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("../public/fonts/Canela-RegularItalic.woff2") format("woff2"),
    url("../public/fonts/Canela-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-Bold.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-Light.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-LightItalic.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-Medium.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-MediumItalic.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-Regular.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Everett";
  src: url("../public/fonts/TWKEverett-RegularItalic.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
