@import "@styles/settings";

.container {
  div {
    row-gap: 80px !important;
  }
  column-gap: 40px !important;
  @media (max-width: 1440px) {
    padding: 80px 16px 131px !important;
    div {
      row-gap: 40px !important;
    }
  }
  padding: 80px 80px 131px !important;
}
